#black{
  background-color: black;
}
#yellow{
  color: blueviolet;
}


#red{
  background-color: red;
  height: 200px;
  width: 300px;
}
#white{
  background-color: antiquewhite;
  height: 200px;
  width: 300px;
}
#green{
  background-color: green;
  height: 200px;
  width: 300px;
}